<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
</head>
<body>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
    }
    nav {
      padding: 2em;
      background-color: #333;
      border-bottom: 1px solid #333;
      color: #f6f6f6;
    }
    nav .title {
      color: #f6f6f6;
    }
    .stat {
      padding: 2em;
      min-width: 200px;
    }
  </style>
  <nav class="level">
    <div class="level-item has-text-centered">
      <div class="stat">
        <p class="heading">Approved Comments</p>
        <p class="title">{{ comments_approved.count() }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="stat">
        <p class="heading">Pending Comments</p>
        <p class="title">{{ comments_pending.count() }}</p>
      </div>
    </div>
    <p class="level-item has-text-centered">
      <i class="fa fa-4x fa-comments"></i>
    </p>
    <div class="level-item has-text-centered">
      <div class="stat">
        <p class="heading">Unique URLs</p>
        <p class="title">{{ urls.count() }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="stat">
        <p class="heading">Unique Names</p>
        <p class="title">{{ names.count() }}</p>
      </div>
    </div>
  </nav>
  <div class="container">
    <div id="chart"></div>
    <div id="commentsTable">
      <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Date</th>
                <th>Name</th>
                <th>Message</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments_approved %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ 'Approved' if comment.approved else 'Pending' }}</td>
                    <td>{{ comment.datestamp }}</td>
                    <td>{{ comment.name }}</td>
                    <td>{{ comment.message }}</td>
                    <td>{{ comment.url }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
  <script>

    var data = [
      {% for url in comments_by_url %}
      {% autoescape false %}
        {
          x: {{ comments_by_url[url].keys() | list }},
          y: {{ comments_by_url[url].values() | list }},
          text: {{ comments_by_url.keys() | list }},
          textposition: 'none',
          type: 'bar',
          name: '{{ url }}'
        },
      {% endautoescape %}
      {% endfor %}
    ];
    // var layout = {barmode: 'stack'};
    var layout = {
      title: 'Comments Left By URL and Date',
      xaxis: {
        tickfont: {
          size: 14,
          color: 'rgb(107, 107, 107)'
        }}
      ,
      yaxis: {
        title: 'Comments',
        titlefont: {
          size: 12,
          color: 'rgb(107, 107, 107)'
        },
        tickfont: {
          size: 10,
          color: 'rgb(107, 107, 107)'
        }
      },
      legend: {
        x: .8,
        y: 1,
        bgcolor: 'rgba(255, 255, 255, 0)',
        bordercolor: 'rgba(255, 255, 255, 0)'
      },
      barmode: 'stack',
      bargap: 0.5,
      bargroupgap: 0.1
    };

    Plotly.newPlot('chart', data, layout, {responsive: true});
    
  </script>

</body>
</html>